body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
html {
	height: 100%;
	background-color: #123456;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	padding-top: 70px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	height: 90%;
}

.itemsCont {
	display: flex;
	flex-direction: column;
}

h1 {
	cursor: pointer;
	text-align: center;
	font-size: 50px;
	font-weight: 100;
	color: #159797;
	margin: 0;
}

.done {
	color: #2e4357;
	text-decoration: line-through;
}

button {
	border: 1px solid #159797;
	border-radius: 25px;
	color: #159797;
	font-size: 50px;
	width: 40%;
	max-width: 300px;
	font-weight: 100;
	background: none;
	cursor: pointer;
	line-height: 80px;
	margin: 15px 30px;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

button:after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
button:hover,
button:active {
	color: #123456;
	background: #159797;
}
