body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#root {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
form {
	display: flex;
	flex-wrap: wrap;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input {
	width: 300px;
}

.primary {
	background-color: #512144;
}

.secondary {
	background-color: #423482;
	border-style: dashed;
	border-color: #294726;
	color: #294726;
}
