body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
#root {
	display: flex;
	justify-content: space-around;
	padding: 12.5px;
}
.cardCont {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 12.5px;
}
.itemCont {
	display: flex;
	justify-content: space-around;
}
#Winnie {
	background-color: aqua;
}
#Bob {
	background-color: pink;
}
#Thomas {
	background-color: darkred;
}
#Jerry {
	background-color: maroon;
}
