body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
html {
	background-color: #eceeee;
}
#root {
	display: flex;
	justify-content: space-around;
	padding: 12.5px;
}
.cardCont {
	display: flex;
	flex-direction: column;
	margin: 12.5px;
	flex: 1;
}
h3 {
	color: white;
	font-weight: 200;
	margin: auto;
	font-size: 15px;
}
.moveButton {
	font-size: 18px;
	color: #444;
	cursor: pointer;
}
.itemText {
	margin: auto;
}
.addButton {
	cursor: pointer;
	font-size: 14px;
	color: #444;
}
.unSelectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.headerCont {
	display: flex;
	height: 30px;
}
.itemCont {
	display: flex;
	justify-content: space-between;
	padding: 14px 7px;
	border-bottom: solid;
	border-color: #eceeee;
	background-color: white;
}

#Winnie {
	background-color: #8e6e95;
}
#Bob {
	background-color: #39a59c;
}
#Thomas {
	background-color: #344759;
}
#George {
	background-color: #e8741e;
}
